{% extends 'base.html' %}

{% block title %}Login - TerraWatch{% endblock %}

{% block content %}

<h1>TerraWatch</h1>

<h2>Login</h2>

{% if success %}
    <p>{{ success }}</p>
{% endif %}

{% if error %}
    <p>{{ error }}</p>
{% endif %}

<form method="POST" action="{% url 'login' %}">

    {% csrf_token %}

    <label>Username:</label>
    <input
        type="text"
        name="username"
        value="{{ entered_username }}"
        required
    >

    <br><br>

    <label>Password:</label>
    <input
        type="password"
        name="password"
        required
    >

    <br><br>

    <button type="submit">Login</button>

</form>

<p>
    Don't have an account?
    <a class="button" href="{% url 'register' %}">Create an Account</a>
</p>

<p>
    <a class="button" href="{% url 'home' %}">← Back to Home</a>
</p>

{% endblock %}

