{% extends 'base.html' %}

{% block title %}Notifications - TerraWatch{% endblock %}

{% block content %}

<h1>TerraWatch</h1>

<h2>Notifications</h2>

{% if notifications %}


{% for notification in notifications %}

    <p>
        {{ notification.message }}
    </p>

    <small>
        {{ notification.created_at }}
    </small>

    <hr>

{% endfor %}


{% else %}


<p>No notifications available.</p>


{% endif %}

{% include 'includes/pagination.html' with page_obj=notifications %}

<br>

{% if role == 'citizen' %}


<a href="{% url 'citizen_dashboard' %}">
    Back to Dashboard
</a>


{% elif role == 'authority' %}


<a href="{% url 'authority_dashboard' %}">
    Back to Dashboard
</a>


{% elif role == 'worker' %}


<a href="{% url 'worker_dashboard' %}">
    Back to Dashboard
</a>


{% endif %}

{% endblock %}
